.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  list-style: none;
  width: 100%;
  background: white;
  padding-top: 4px;
  border-top: 1px lightgray solid;
}

.row {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row > li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: lightgray;
  color: black;
  margin: 3px;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}
